html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 130px;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:first-of-type {
  margin-right: 15px;
  background-color: rgb(96, 194, 92);
}

button:last-of-type {
  margin-left: 15px;
  background-color: rgb(240, 33, 119);
}

button[disabled=true] {
  background-color: rgb(233, 228, 230);
}
